In [1]:
!pip install numpy
!pip install scipy
!pip install scikit-learn
!pip install joblib
!pip install numba
!pip install pyts
!pip install sktime
!pip install optuna

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (1.7.3)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from scipy) (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (1.2.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (1.2.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numba in /usr/local/lib/python3.8/dist-packages (0.56.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from numba) (57.4.0)
Requirement already satisfied: numpy<1.24,>=1.18 in /usr/local/lib/python3.8/dist-packages (from numba) (1.21.6)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.8/dist-packages (from numba) (0.39.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.8/dist-packages (from numba) (6.0.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata->numba) (3.12.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyts
  Downloading pyts-0.12.0-py3-none-any.whl (2.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.5/2.5 MB 26.9 MB/s eta 0:00:00
Requirement already satisfied: scikit-learn>=0.22.1 in /usr/local/lib/python3.8/dist-packages (from pyts) (1.0.2)
Requirement already satisfied: joblib>=0.12 in /usr/local/lib/python3.8/dist-packages (from pyts) (1.2.0)
Requirement already satisfied: numba>=0.48.0 in /usr/local/lib/python3.8/dist-packages (from pyts) (0.56.4)
Requirement already satisfied: scipy>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from pyts) (1.7.3)
Requirement already satisfied: numpy>=1.17.5 in /usr/local/lib/python3.8/dist-packages (from pyts) (1.21.6)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from numba>=0.48.0->pyts) (57.4.0)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.8/dist-packages (from numba>=0.48.0->pyts) (0.39.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.8/dist-packages (from numba>=0.48.0->pyts) (6.0.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.22.1->pyts) (3.1.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata->numba>=0.48.0->pyts) (3.12.0)
Installing collected packages: pyts
Successfully installed pyts-0.12.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sktime
  Downloading sktime-0.16.0-py3-none-any.whl (16.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.0/16.0 MB 72.5 MB/s eta 0:00:00
Requirement already satisfied: numba>=0.55 in /usr/local/lib/python3.8/dist-packages (from sktime) (0.56.4)
Requirement already satisfied: pandas<1.6.0,>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from sktime) (1.3.5)
Requirement already satisfied: scipy<2.0.0,>=1.2.0 in /usr/local/lib/python3.8/dist-packages (from sktime) (1.7.3)
Collecting deprecated>=1.2.13
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: scikit-learn<1.3.0,>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from sktime) (1.0.2)
Requirement already satisfied: numpy<1.25,>=1.21.0 in /usr/local/lib/python3.8/dist-packages (from sktime) (1.21.6)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.8/dist-packages (from deprecated>=1.2.13->sktime) (1.14.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.8/dist-packages (from numba>=0.55->sktime) (6.0.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from numba>=0.55->sktime) (57.4.0)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.8/dist-packages (from numba>=0.55->sktime) (0.39.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas<1.6.0,>=1.1.0->sktime) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas<1.6.0,>=1.1.0->sktime) (2022.7.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn<1.3.0,>=0.24.0->sktime) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn<1.3.0,>=0.24.0->sktime) (3.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas<1.6.0,>=1.1.0->sktime) (1.15.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata->numba>=0.55->sktime) (3.12.0)
Installing collected packages: deprecated, sktime
Successfully installed deprecated-1.2.13 sktime-0.16.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting optuna
  Downloading optuna-3.1.0-py3-none-any.whl (365 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 365.3/365.3 KB 7.1 MB/s eta 0:00:00
Collecting cmaes>=0.9.1
  Downloading cmaes-0.9.1-py3-none-any.whl (21 kB)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.8/dist-packages (from optuna) (6.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from optuna) (23.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from optuna) (1.21.6)
Requirement already satisfied: sqlalchemy>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from optuna) (1.4.46)
Collecting colorlog
  Downloading colorlog-6.7.0-py2.py3-none-any.whl (11 kB)
Collecting alembic>=1.5.0
  Downloading alembic-1.9.3-py3-none-any.whl (210 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 210.6/210.6 KB 19.8 MB/s eta 0:00:00
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from optuna) (4.64.1)
Collecting Mako
  Downloading Mako-1.2.4-py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.7/78.7 KB 5.2 MB/s eta 0:00:00
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.8/dist-packages (from alembic>=1.5.0->optuna) (5.10.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.8/dist-packages (from alembic>=1.5.0->optuna) (6.0.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from sqlalchemy>=1.3.0->optuna) (2.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata->alembic>=1.5.0->optuna) (3.12.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.8/dist-packages (from Mako->alembic>=1.5.0->optuna) (2.0.1)
Installing collected packages: Mako, colorlog, cmaes, alembic, optuna
Successfully installed Mako-1.2.4 alembic-1.9.3 cmaes-0.9.1 colorlog-6.7.0 optuna-3.1.0

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pyts.classification import SAXVSM
from pyts.classification import BOSSVS
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import f1_score
from sktime.classification.kernel_based import RocketClassifier
from sktime.classification.hybrid import HIVECOTEV2

In [3]:
X = np.load("drive/MyDrive/timeseries/train_x.npy")
y = np.load("drive/MyDrive/timeseries/train_y.npy")
X_submission = np.load("drive/MyDrive/timeseries/test_x.npy")

Classify using SAXVSM algorithm from pyts.

In [6]:
tscv = TimeSeriesSplit(max_train_size=None, n_splits=5)
print(tscv)

max_metric = float('-inf')
best_estimator = None
metrics = []
for train_index, test_index in tscv.split(X):
  print("TRAIN:", train_index, "TEST:", test_index)
  X_train, X_test = X[train_index], X[test_index]
  y_train, y_test = y[train_index], y[test_index]
  saxvsm = SAXVSM(window_size=32, word_size=8, n_bins=4, strategy='uniform')
  saxvsm.fit(X_train, y_train)
  y_pred = saxvsm.predict(X_test)
  metric = f1_score(y_test, y_pred, average='macro')
  if metric > max_metric:
    best_estimator = saxvsm
    max_metric = metric
  metrics.append(metric)
  print("F1 MACRO:", metric)
print(metrics)
y_submission = best_estimator.predict(X_submission)
answer = pd.DataFrame({
    'ID': np.array(range(y_submission.shape[0])),
    'Answer': y_submission.astype('int64'),
})
answer.to_csv("submission_SAXVSM.csv", index=False)
answer

TimeSeriesSplit(gap=0, max_train_size=None, n_splits=5, test_size=None)
TRAIN: [   0    1    2 ... 2444 2445 2446] TEST: [2447 2448 2449 ... 4888 4889 4890]
F1 MACRO: 0.2631812364615703
TRAIN: [   0    1    2 ... 4888 4889 4890] TEST: [4891 4892 4893 ... 7332 7333 7334]
F1 MACRO: 0.2587653456318252
TRAIN: [   0    1    2 ... 7332 7333 7334] TEST: [7335 7336 7337 ... 9776 9777 9778]
F1 MACRO: 0.21074573183011602
TRAIN: [   0    1    2 ... 9776 9777 9778] TEST: [ 9779  9780  9781 ... 12220 12221 12222]
F1 MACRO: 0.2406584260876988
TRAIN: [    0     1     2 ... 12220 12221 12222] TEST: [12223 12224 12225 ... 14664 14665 14666]
F1 MACRO: 0.20451071811923766
[0.2631812364615703, 0.2587653456318252, 0.21074573183011602, 0.2406584260876988, 0.20451071811923766]

        ID  Answer
0        0       3
1        1       3
2        2       3
3        3       2
4        4       2
...    ...     ...
7220  7220       3
7221  7221       3
7222  7222       3
7223  7223       3
7224  7224       3

[7225 rows x 2 columns]

Classify using ROCKET algorithm from sktime.

In [12]:
tscv = TimeSeriesSplit(max_train_size=None, n_splits=5)
print(tscv)

max_metric = float('-inf')
best_estimator = None
metrics = []
for train_index, test_index in tscv.split(X):
  print("TRAIN:", train_index, "TEST:", test_index)
  X_train, X_test = X[train_index], X[test_index]
  y_train, y_test = y[train_index], y[test_index]
  rocket = RocketClassifier(num_kernels=2000)
  rocket.fit(X_train, y_train)
  y_pred = rocket.predict(X_test)
  metric = f1_score(y_test, y_pred, average='macro')
  if metric > max_metric:
    best_estimator = rocket
    max_metric = metric
  metrics.append(metric)
  print("F1 MACRO:", metric)
print(metrics)
y_submission = best_estimator.predict(X_submission)
answer = pd.DataFrame({
    'ID': np.array(range(y_submission.shape[0])),
    'Answer': y_submission.astype('int64'),
})
answer.to_csv("submission_ROCKET.csv", index=False)
answer

TimeSeriesSplit(gap=0, max_train_size=None, n_splits=5, test_size=None)
TRAIN: [   0    1    2 ... 2444 2445 2446] TEST: [2447 2448 2449 ... 4888 4889 4890]
F1 MACRO: 0.8008224511133651
TRAIN: [   0    1    2 ... 4888 4889 4890] TEST: [4891 4892 4893 ... 7332 7333 7334]
F1 MACRO: 0.8296242562123595
TRAIN: [   0    1    2 ... 7332 7333 7334] TEST: [7335 7336 7337 ... 9776 9777 9778]
F1 MACRO: 0.9032370514521796
TRAIN: [   0    1    2 ... 9776 9777 9778] TEST: [ 9779  9780  9781 ... 12220 12221 12222]
F1 MACRO: 0.8719210999030432
TRAIN: [    0     1     2 ... 12220 12221 12222] TEST: [12223 12224 12225 ... 14664 14665 14666]
F1 MACRO: 0.886787789057521
[0.8008224511133651, 0.8296242562123595, 0.9032370514521796, 0.8719210999030432, 0.886787789057521]

        ID  Answer
0        0       0
1        1       0
2        2       0
3        3       2
4        4       0
...    ...     ...
7220  7220       0
7221  7221       2
7222  7222       0
7223  7223       0
7224  7224       0

[7225 rows x 2 columns]

Classify using HIVECOTE2 algorithm from sktime.

In [13]:
tscv = TimeSeriesSplit(max_train_size=None, n_splits=5)
print(tscv)

max_metric = float('-inf')
best_estimator = None
metrics = []
for train_index, test_index in tscv.split(X):
  print("TRAIN:", train_index, "TEST:", test_index)
  X_train, X_test = X[train_index], X[test_index]
  y_train, y_test = y[train_index], y[test_index]
  hc2 = HIVECOTEV2(time_limit_in_minutes=0.2)
  hc2.fit(X_train, y_train)
  y_pred = hc2.predict(X_test)
  metric = f1_score(y_test, y_pred, average='macro')
  if metric > max_metric:
    best_estimator = hc2
    max_metric = metric
  metrics.append(metric)
  print("F1 MACRO:", metric)
print(metrics)
y_submission = best_estimator.predict(X_submission)
answer = pd.DataFrame({
    'ID': np.array(range(y_submission.shape[0])),
    'Answer': y_submission.astype('int64'),
})
answer.to_csv("submission_HIVECOTE2.csv", index=False)
answer

TimeSeriesSplit(gap=0, max_train_size=None, n_splits=5, test_size=None)
TRAIN: [   0    1    2 ... 2444 2445 2446] TEST: [2447 2448 2449 ... 4888 4889 4890]
F1 MACRO: 0.762397072592015
TRAIN: [   0    1    2 ... 4888 4889 4890] TEST: [4891 4892 4893 ... 7332 7333 7334]
F1 MACRO: 0.7993944525886978
TRAIN: [   0    1    2 ... 7332 7333 7334] TEST: [7335 7336 7337 ... 9776 9777 9778]
F1 MACRO: 0.8454541266137431
TRAIN: [   0    1    2 ... 9776 9777 9778] TEST: [ 9779  9780  9781 ... 12220 12221 12222]
F1 MACRO: 0.8658492352285911
TRAIN: [    0     1     2 ... 12220 12221 12222] TEST: [12223 12224 12225 ... 14664 14665 14666]
F1 MACRO: 0.8627933936575646
[0.762397072592015, 0.7993944525886978, 0.8454541266137431, 0.8658492352285911, 0.8627933936575646]

        ID  Answer
0        0       0
1        1       0
2        2       0
3        3       2
4        4       0
...    ...     ...
7220  7220       0
7221  7221       2
7222  7222       0
7223  7223       0
7224  7224       0

[7225 rows x 2 columns]